{% extends "home.html" %}
{% block content %}
<h1>{{company.company_name}}</h1>
<input type="hidden" name="id" id="company_id" value="{{company.id}}">

<div class="panel panel-default">
    <div class="panel-header">
        <form style="display:inline" role="form" method="get" action="/api/dbadmin/edit/{{company.id}}">
            <button type="" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
        </form>
    </div>
    <div class="panel-body">

        <h3>Subsidiaries</h3>
        <div>
            {% include "subsidiaries_panel.html" %}
        </div>
        <hr>
        <form class="form-horizontal" id="company" role="form" method="post" action="/api/dbadmin/update/{{company.id}}">


            <h3>Contact Info</h3>
            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_contact_name">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="corporate_contact_name" id="corporate_contact_name" value="{{company.corporate_contact_name}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_contact_email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="corporate_contact_email" id="corporate_contact_email" value="{{company.corporate_contact_email}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_contact_phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="corporate_contact_phone" value="{{company.corporate_contact_phone}}">
                </div>
            </div>

            <h3>Matching Gifts</h3>

            <div class="form-group">
                <label class="control-label col-sm-2" for="matching_gift_offered">Offered:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="matching_gift_offered"
                                                       {% if company.matching_gift_offered %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="matching_gift_offered"
                                                       {% if not company.matching_gift_offered %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="matching_gift_offered"
                                                       {% ifequal company.matching_gift_offered "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Retirees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="retirees_eligible"
                                                       {% if company.retirees_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="retirees_eligible"
                                                       {% if not company.retirees_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="retirees_eligible"
                                                       {% ifequal company.retirees_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Full Time Employees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="full_time_eligible"
                                                       {% if company.full_time_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="full_time_eligible"
                                                       {% if not company.full_time_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="full_time_eligible"
                                                       {% ifequal company.full_time_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Part Time Employees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="part_time_eligible"
                                                       {% if company.part_time_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="part_time_eligible"
                                                       {% if not company.part_time_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="part_time_eligible"
                                                       {% ifequal company.part_time_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Minimum Matched:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="minimum_matched" value="{{company.minimum_matched}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Maximum Matched:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="maximum_matched" value="{{company.maximum_matched}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Match Ratio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ratio" value="{{company.ratio}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Matching Gift Process:</label>

                <div class="col-sm-10">
                    <textarea name="matching_gift_process" class="tinymce" style="height:50%">{{company.matching_gift_process}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Eligible Organizations:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="arts_and_cultural"
                                                          {% if company.arts_and_cultural %} checked {% endif %}>Arts/Cultural</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="civic_community"
                                                          {% if company.civic_community %} checked {% endif %}>Civic/Community</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="environmental"
                                                          {% if company.environmental %} checked {% endif %}>Environmental</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="health_human_services"
                                                          {% if company.health_human_services     %} checked {% endif %}>Health and Human Services</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="higher_ed"
                                                          {% if company.higher_ed %} checked {% endif %}>Higher Ed</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" value="" name="k12"
                                                          {% if company.k12 %} checked {% endif %}>K12</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Forms:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="url_forms" value="{{company.url_forms}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Guidelines:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="url_guidelines" value="{{company.url_guidelines}}">
                </div>
            </div>


            <h3>Volunteer Grants</h3>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Offered:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="volunteer_grant_offered"
                                                       {% if company.volunteer_grant_offered %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="volunteer_grant_offered"
                                                       {% if not company.volunteer_grant_offered %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="volunteer_grant_offered"
                                                       {% ifequal company.volunteer_grant_offered "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Volunteer Grant Process:</label>

                <div class="col-sm-10">
                    <textarea name="volunteer_grant_process" class="tinymce" style="height:50%">{{company.volunteer_grant_process}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Minimum Hours Required:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="volunteer_minimum_hours_required" value="{{company.volunteer_minimum_hours_required}}">
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            $("#company input").prop("disabled", true);
            $('.panel-body .btn').each(function(){
                $(this).addClass('disabled');
            });
            $('a').on('click.myDisable', function() { return false; });
        });
    </script>
</form>
{% endblock %}
