{% extends "dbadmin/home.html" %}
{% block content %}

<h1>
    {% if user.first_name|empty?%}
    New User
    {%else%}
    {{user.first_name}} {{user.last_name}}
    {%endif%}
</h1>
<input type="hidden" name="id" id="user_id" value="{{user.id}}">

<div class="panel panel-default">

    <div class="panel-header">
        {% if endpoint|contains?:"approve" %}
        <div id="approve-form" class="pull-left">
            <form style="display:inline" role="form" method="get" action="">
                <button type="" class="btn btn-danger btn-sm btn-reject">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                </button>
                <button type="" class="btn btn-success btn-sm btn-approve">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
                </button>
            </form>
        </div>
        {%endif%}

        <button class="btn btn-danger btn-sm pull-right flag-company" style="display:none">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Flag
        </button>
        <button class="btn btn-success btn-sm pull-right unflag-company" style="display:none">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Unflag
        </button>
        <button class="btn btn-warning btn-sm pull-right btn-pending" style="display:none" href="api/dbadmin/approve/{{company.id}}">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Pending
        </button>

        {% include "dbadmin/add_flag_modal.html" %}
        {% include "dbadmin/remove_flag_modal.html" %}
        {% include "dbadmin/flagged_alert.html" %}
        {% include "dbadmin/pending_alert.html" %}

    </div>
    <br>
    <div class="panel-body">
        {% include "sage_edit_form_partial.html" %}
    </div>
</div>

{% endblock %}
