{% extends "dbadmin/home.html" %}
{% block content %}

<h1>
    {% if user.first_name|empty?%}
    New User
    {%else%}
    {{user.first_name}} {{user.last_name}}
    {%endif%}
</h1>
<input type="hidden" name="id" id="user_id" value="{{user.id}}">

<div class="panel panel-default">

    <div class="panel-header">
        {% if endpoint|contains?:"approve" %}
        <div id="approve-form" class="pull-left">
            <form style="display:inline" role="form" method="get" action="">
                <button type="" class="btn btn-danger btn-sm btn-reject">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                </button>
                <button type="" class="btn btn-success btn-sm btn-approve">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
                </button>
            </form>
        </div>
        {%endif%}

        <button class="btn btn-danger btn-sm pull-right flag-company" style="display:none">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Flag
        </button>
        <button class="btn btn-success btn-sm pull-right unflag-company" style="display:none">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Unflag
        </button>
        <button class="btn btn-warning btn-sm pull-right btn-pending" style="display:none" href="api/dbadmin/approve/{{company.id}}">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Pending
        </button>

        {% include "dbadmin/add_flag_modal.html" %}
        {% include "dbadmin/remove_flag_modal.html" %}
        {% include "dbadmin/flagged_alert.html" %}
        {% include "dbadmin/pending_alert.html" %}

    </div>
    <br>
    <div class="panel-body">

        <form class="form-horizontal" id="editform" role="form" method="post" action="/dbadmin/{{endpoint}}">

            <!-- <h3>Subsidiaries</h3>
            <div>
                {% include "/dbadmin/subsidiaries_panel.html" %}
                {% include "/dbadmin/add_subsidiary.html" %}
            </div>
            <hr> -->

            <h3>Personal Info</h3>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">First Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" name="first_name" value="{{user.first_name}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Last Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" name="last_name" value="{{user.last_name}}" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" value="{{user.email}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="phone" value="{{user.phone}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address1" value="{{user.address1}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="city" value="{{user.city}}">
                </div>
            </div>

            {% include "dbadmin/states_dropdown_partial.html" %}

            <div class="form-group">
                <label class="control-label col-sm-2">Zip:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="zip" value="{{user.zip}}">
                </div>
            </div>

            <hr>

            <h3>Profile</h3>

            <div class="form-group">
                <label class="control-label col-sm-2">URL:</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">http://schoolvillage.net/</span>
                    <input name="url" style="width:70%" type="text" class="form-control required" value="{{user.url}}" placeholder="dwade">
                </div>
                {% if errors.url %}
                <div class="alert alert-danger">{{errors.url|join}}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Acuity ID:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="acuity_id" value="{{user.acuity_id}}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Biography:</label>

                <div class="col-sm-10">
                    <textarea name="biography" class="tinymce" style="height:50%">{{user.biography}}</textarea>
                </div>
            </div>

            <br>

            <div class="form-group">
                <label class="control-label col-sm-2">Photo</label>
                <div class="col-sm-6">
                    <input id="photo" type="hidden" name="photo" value="{{user.photo}}">
                    <img width="150" height="150" id="user-photo" src=
                    {% if user.photo|empty? %}
                    "/img/default-photo.jpeg"
                    {%else%}
                    "https://s3.amazonaws.com/schoolvillage/photos/{{user.photo}}"
                    {%endif%}>
                </div>
                <!-- <div class="clearfix"></div> -->
                <!-- <span class="help-block">Don't worry about your photo's dimensions. We'll automatically resize it to ensure it fits.</span> -->
                <button type="button" id="pick-photo" class="btn btn-primary btn-sm">Upload New Photo</button>
            </div>


            <hr>
            <h3>Documentation</h3>

            <div class="form-group">
                <label class="control-label col-sm-2">Resume</label>
                <input id="resume" type="hidden" name="resume" value="{{user.resume}}">
                
                {% if user.resume|not-empty %}
                <a href="https://s3.amazonaws.com/schoolvillage/resumes/{{user.resume}}" target="_blank" class="btn btn-success">View Resume</a>
                {%endif%}

                <button type="button" id="pick-resume" class="btn btn-primary btn-sm">Upload New Resume</button>
            </div>

            <hr>
            <br>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-update">
                        {% if endpoint|contains?:"add" %}
                        Add
                        {%else%}
                        Update
                        {%endif%}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
