{% extends "home.html" %}
{% block content %}
<h1>New Company</h1>
<form class="form-horizontal" role="form" method="post" action="/api/dbadmin/add">
    <div class="panel panel-default">
        <div class="panel-body">

            <input type="hidden" name="id" placeholder="{{company.id}}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Company Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" name="company_name" placeholder="Loco Inc.">
                </div>
            </div>

            <h3>Subsidiaries</h3>
            <div>
                {% include "subsidiaries_panel.html" %}
                {% include "add_subsidiary.html" %}
            </div>
            <hr>

            <h3>Contact Info</h3>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="corporate_contact_name" id="corporate_contact_name" placeholder="John Loco">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_contact_email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="corporate_contact_email" id="corporate_contact_email" placeholder="john@loco.com">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_contact_phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="corporate_contact_phone" placeholder="444-909-5555">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="region">Region:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="region" value="{{company.region}}">
                </div>
            </div>

            <h3>Matching Gifts</h3>

            <div class="form-group">
                <label class="control-label col-sm-2" for="matching_gift_offered">Offered:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="matching_gift_offered"
                                                       {% if company.matching_gift_offered %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="matching_gift_offered"
                                                       {% if not company.matching_gift_offered %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="matching_gift_offered"
                                                       {% ifequal company.matching_gift_offered "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Retirees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="retirees_eligible"
                                                       {% if company.retirees_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="retirees_eligible"
                                                       {% if not company.retirees_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="retirees_eligible"
                                                       {% ifequal company.retirees_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Full Time Employees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="full_time_eligible"
                                                       {% if company.full_time_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="full_time_eligible"
                                                       {% if not company.full_time_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="full_time_eligible"
                                                       {% ifequal company.full_time_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Part Time Employees Eligible:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="part_time_eligible"
                                                       {% if company.part_time_eligible %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="part_time_eligible"
                                                       {% if not company.part_time_eligible %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="part_time_eligible"
                                                       {% ifequal company.part_time_eligible "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Minimum Matched:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="minimum_matched" placeholder="$25">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Maximum Matched:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="maximum_matched" placeholder="$20000">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Match Ratio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ratio" placeholder="2:1">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Matching Gift Process:</label>

                <div class="col-sm-10">
                    <textarea name="matching_gift_process" class="tinymce" style="height:50%"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Eligible Organizations:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="arts_and_cultural">Arts/Cultural</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="civic_community">Civic/Community</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="environmental">Environmental</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="health_human_services">Health and Human Services</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="higher_ed">Higher Ed</label>
                    <label class="checkbox-inline"><input class="category" type="checkbox" checked value="" name="k12">K12</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Forms:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="url_forms" placeholder="loco.com/matching">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Guidelines:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="url_guidelines" placeholder="loco.com/matching-guidelines">
                </div>
            </div>


            <h3>Volunteer Grants</h3>

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Offered:</label>
                <div class="col-sm-10 btn-group" data-toggle="">
                    <label class="radio-inline"><input type="radio" value="true" name="volunteer_grant_offered"
                                                       {% if company.volunteer_grant_offered %} checked {% endif %}>Yes</label>
                    <label class="radio-inline"><input type="radio" value="false" name="volunteer_grant_offered"
                                                       {% if not company.volunteer_grant_offered %} checked {% endif %}>No</label>
                    <label class="radio-inline"><input type="radio" value="nil" name="volunteer_grant_offered"
                                                       {% ifequal company.volunteer_grant_offered "" %} checked {% endifequal %}>Unknown</label>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Volunteer Grant Process:</label>

                <div class="col-sm-10">
                    <textarea name="volunteer_grant_process" class="tinymce" style="height:50%"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Minimum Hours Required:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="volunteer_minimum_hours_required" placeholder="20">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="corporate_donations">Corporate Donations:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="corporate_donations" value="{{company.corporate_donations_offered}}">
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Company</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
