<div class="modal fade" id="rejectProposedModal" tabindex="-1" role="dialog" aria-labelledby="rejectProposedModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Remove Flag</h4>
            </div>
            <div class="modal-body">
                <h5>Keep this company flagged?</h5>
                <button type="button" class="btn btn-default unflag-rejected-submission" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary flag-rejected-submission">Yes</button>
            </div>
        </div>
    </div>
</div>
