<div class="modal fade" id="removeFlagModal" tabindex="-1" role="dialog" aria-labelledby="removeFlagModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Remove Flag</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Flag:</label>
                        <p id="flag-comment"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <h5>Did you resolve this flag?</h5>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary remove-flag">Yes</button>
            </div>
        </div>
    </div>
</div>
