<footer class="footer-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img alt="Logo" class="logo" src="/img/school-vilage-logo-light.png" />
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h6 class="title">Company</h6>
                    <hr>
                    <ul class="">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h6 class="title">Join Us</h6>
                    <hr>
                    <ul class="">
                        <li>
                        <a href="/apply">About Tutoring With Us</a>
                        </li>
                        <li>
                            <a href="/apply">Become A Tutor</a>
                        </li>
                        <li>
                            <a href="#">Become An Affiliate</a>
                        </li>
                        <li>
                            <a href="#">Become A Partner</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6 class="title">Connect with Us</h6>
                <hr>
                <ul class="list-inline social-list">
                    <li>
                        <a href="#">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-vimeo-alt"></i>
                        </a>
                    </li>
                </ul>
                <span class="sub">&copy; School Village</span>

            </div>

        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>