<section class="cover fullscreen image-bg overlay parallax">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="img/man-pencil.jpg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="uppercase mb16">Learning, On-Demand </h1>
                <h5 class="uppercase mb0">INSTANTLY BOOK A SESSION WITH A GREAT EDUCATOR.</h5>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="align-bottom relative-xs text-center">
        <a class="btn btn-filled btn-lg mb32 mt-xs-40" href="/book">BOOK A SESSION</a>
    </div>
</section>