<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
            <ul class="slides">
                <li class="overlay image-bg">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="img/man-pencil.jpg" />
                    </div>
                    <div class="container v-align-transform">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <p></p>
                                <h1 class="mb16" style="text-align: center;">
                                    Learning, On-Demand
                                </h1>
                                <h5 class="uppercase mb32" style="text-align: center;">BOOK A SESSION WITH AN EDUCATOR, INSTANTLY.</h5>
                                <h5></h5>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p style="text-align: center;">
                                    <a class="btn btn-lg btn-rounded" href="#">
                                        BOOK A SESSION TODAY

                                    </a>
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </li>
            </ul>
        </section>