<section class="image-square left bg-secondary pb-sm-64">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/people-hands.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3>Love to teach and help others? <a href="/apply">Become a tutor!</a></h3>
        <p class="mb0">
            As a <b>Sage</b> you will make a huge difference, and make profit. You will earn $30 per hour, and set your own schedule. 
        </p>
        <br>
        <br>
        <p style="text-align: center;">
            <a class="btn btn-md" href="/apply">
                Apply Today
            </a>
        </p>
    </div>
</section>