<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>On-Demand Training and Tutoring - School Village</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
    {% block container %}
    {% include "nav-container.html" %}

    {% block main-container %}
    <div class="main-container">
         {% include home_image_slider_partial.html %}
        <section class="pb64 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-12">
                        <h2 class="mb16" style="text-align:center">How It Works</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="ti-layers icon-sm"></i>
                                <h5 class="uppercase">Modular Design</h5>
                            </div>
                            <p>
                                With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                            </p>
                        </div>
                        <!--end of feature-->
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="ti-gallery icon-sm"></i>
                                <h5 class="uppercase">Silky Parallax</h5>
                            </div>
                            <p>
                                We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                            </p>
                        </div>
                        <!--end of feature-->
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="ti-package icon-sm"></i>
                                <h5 class="uppercase">Unique Concepts</h5>
                            </div>
                            <p>
                                10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                            </p>
                        </div>
                        <!--end of feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="image-square left bg-secondary pb-sm-64">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home17.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 content">
                <h3>Build a slick, modern site faster than ever before.</h3>
                <p class="mb0">
                    Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
                </p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb64 mb-xs-24">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                        <h3>Built from the ground-up to be the ultimate in flexibility</h3>
                        <p class="lead mb0">
                            Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
                        </p>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 mb-xs-24">
                        <h1 class="large">100+</h1>
                        <p>
                            Pre-made HTML page templates including fully realized shop, blog and portfolio layouts.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-5 mb-xs-24">
                        <h1 class="large">Elite</h1>
                        <p>
                            We're a trusted, elite author who have been featured multiple times on Themeforest.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="image-square right bg-secondary pb-sm-64">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home15.jpg" />
                </div>
            </div>
            <div class="col-md-6 content">
                <h3>Start building beautiful pages directly in your browser.</h3>
                <p class="mb0">
                    Foundry is your complete design toolkit, built from the ground up to be flexible, extensible and stylish. Building slick, contemporary sites has never been this easy!
                </p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb64 mb-xs-24">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                        <h3>People like you love School Village</h3>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="feature boxed cast-shadow-light">
                            <img alt="Pic" class="image-small inline-block mb24" src="img/avatar1.png" />
                            <h4>"Polished, Incredible!"</h4>
                            <p>
                                It's clear to see just how seriously these guys take design. I've never come across a template with the level of polish as this!
                            </p>
                            <span>
                                <strong>Anne Potter</strong> - via Envato</span>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="feature boxed cast-shadow-light">
                                <img alt="Pic" class="image-small inline-block mb24" src="img/avatar2.png" />
                                <h4>"Customer For Life"</h4>
                                <p>
                                    I love the ease-of-use the builder provides - I can quickly test different combinations and experiment with font and color combinations to find that sweet spot.
                                </p>
                                <span>
                                    <strong>Jake Sims</strong> - via Twitter</span>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="feature boxed cast-shadow-light">
                                    <img alt="Pic" class="image-small inline-block mb24" src="img/avatar3.png" />
                                    <h4>"Almost too easy!"</h4>
                                    <p>
                                        As a seasoned template user, I really appreciate the consistent styling for all common tags, it makes customising the sections that much easier.
                                    </p>
                                    <span>
                                        <strong>Larry Smith</strong> - via Envato</span>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>
                    <section class="image-bg parallax overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="img/home2.jpg">
                        </div>
                        <div class="container">
                            <div class="row mb64 mb-xs-24">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class="large mb8">10,000+</h1>
                                    <h6 class="uppercase">Customers using our templates</h6>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-infinite icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class="large mb8">Limitless</h1>
                                    <h6 class="uppercase">Layout potential using Foundry</h6>
                                </div>
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3 class="mb40 mb-xs-24">Authentic, handcrafted design that gives your
                                        <br /> site subtle, confident appeal.</h3>
                                        <a class="btn btn-lg btn-filled" href="chooser.html">Check Out The Demos</a>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                            <!--end of container-->
                        </section>
                        <footer class="footer-1 bg-dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <img alt="Logo" class="logo" src="img/logo-light.png" />
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="widget">
                                            <h6 class="title">Recent Posts</h6>
                                            <hr>
                                            <ul class="link-list recent-posts">
                                                <li>
                                                    <a href="#">Hugging pugs is super trendy</a>
                                                    <span class="date">February
                                                        <span class="number">14, 2015</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <a href="#">Spinning vinyl is oh so cool</a>
                                                    <span class="date">February
                                                        <span class="number">9, 2015</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <a href="#">Superior theme design by pros</a>
                                                    <span class="date">January
                                                        <span class="number">27, 2015</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end of widget-->
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="widget">
                                            <h6 class="title">Latest Updates</h6>
                                            <hr>
                                            <div class="twitter-feed">
                                                <div class="tweets-feed" data-widget-id="492085717044981760">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end of widget-->
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="widget">
                                            <h6 class="title">Instagram</h6>
                                            <hr>
                                            <div class="instafeed" data-user-name="funsizeco">
                                                <ul></ul>
                                            </div>
                                        </div>
                                        <!--end of widget-->
                                    </div>
                                </div>
                                <!--end of row-->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="sub">&copy; Copyright 2015 - Medium Rare</span>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <ul class="list-inline social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="ti-twitter-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-dribbble"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-vimeo-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end of container-->
                            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
                        </footer>
                    </div>
                    {% endblock %}

                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="/js/flickr.js"></script>
                    <script src="/js/flexslider.min.js"></script>
                    <script src="/js/lightbox.min.js"></script>
                    <script src="/js/masonry.min.js"></script>
                    <script src="/js/twitterfetcher.min.js"></script>
                    <script src="/js/spectragram.min.js"></script>
                    <script src="/js/ytplayer.min.js"></script>
                    <script src="/js/countdown.min.js"></script>
                    <script src="/js/smooth-scroll.min.js"></script>
                    <script src="/js/parallax.js"></script>
                    <script src="/js/scripts.js"></script>
                    {% endblock %}

                </body>
                </html>