<div class="nav-container">
    <a id="top"></a>
    <nav class ="{{options}} absolute">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="School Village" src="img/school-vilage-logo-light.png" />
                    <img class="logo logo-dark" alt="School Village" src="img/school-vilage-logo-dark.jpeg" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="">
                            <a href="/">
                                Home
                            </a>

                        </li>
                        <li class="">
                            <a href="#">
                                Book A Session
                            </a>

                        </li>
                        <li class="">
                            <a href="/about">
                                About
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-xs btn-rounded" href="#">
                                Become A Tutor
                            </a>
                        </li>

                    </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>