{% extends "box_partial.html" %}

{% block top-section %}

<h4>We currently have no {{subject|capitalize}} tutors in your area. Enter your information below, and we will inform you when we do.</h4>

<form method="post" action="/subscribe" class="text-left">
	<input type="text" name="first_name" placeholder="First Name" required autofocus/>
	<input type="text" name="last_name" placeholder="Last Name" required />
	<input type="email" name="email" placeholder="Email" required />
	<input type="submit" value="Keep Me Informed" />
</form>
{%endblock%}
