{% extends "home.html" %}

{% block content %}
<div class="main-container">
    <section class="page-title page-title-3 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="img/home2.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">{{user.first_name}} {{user.last_name}}</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <ol class="breadcrumb breadcrumb-2">
            <li>
                Sages
            </li>
            <li class="active">{{user.first_name}} {{user.last_name}}</li>
        </ol>
    </section>
    <section class="image-square left">
        <div class="col-md-6 image">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="img/small2.jpg" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1 content">
            <h4 class="uppercase">About {{user.first_name}}</h4>
            {{user.biography}}
            <h5>Contact Info</h5>
            <p>
                <strong>E:</strong> {{user.email}}
                <br />
                <strong>P:</strong> 
                <br />
            </p>
        </div>
    </section>
    <section class="">
        <div class="col-md-12">
            <h4 class="uppercase text-center">Schedule a Session with {{user.first_name}}</h4>
            <div class="col-md-6 col-md-offset-3 content">
                <iframe src="https://app.acuityscheduling.com/schedule.php?owner=11739157&calendarID={{user.acuity_id}}" width="100%" height="800" frameBorder="0"></iframe>
                <script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
            </div>
        </div>
    </section>
</div>
{%endblock%}