
<p>Here are integration guides for a few popular platforms:</p>

<ul>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/11/blackbaud-netcommunity-matching-gifts/">Blackbaud® NetCommunity™</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/07/donordrive-matching-gift-integration-with-double-the-donation/">DonorDrive</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/08/donorperfect-matching-gifts/">DonorPerfect</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2015/07/donorpro-matching-gift-integration-double-the-donation/">DonorPro</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/05/greater-giving-matching-gifts/">Greater Giving</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/10/imodules-matching-gifts/">iModules®</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/07/jotform-matching-gift-integration/">Jotform</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2015/02/neoncrm-matching-gift-integration-guide/">NeonCRM</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2015/08/nationbuilder-integration-with-double-the-donations-matching-gift-service/">NationBuilder</a></li>
    <li><a target="_blank" href="https://doublethedonation.com/blog/2014/11/paypal-matching-gift-integration-with-double-the-donation/">Paypal</a></li>

</ul>

<p>Need help with a software platform that isn't listed? We have guides for many additional platforms. Email us at
    <a href="mailto:info@doublethedonation.com">info@doublethedonation.com</a> if you need assistance.</p>
