{% extends "admin/index.html" %}
{% block main-container %}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-heart fa-fw"></i> Get Started
		</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="panel panel-default" style="border: 0px;">
	<input type="hidden" id="organization_id" value="{{organization.id}}">
	<input type="hidden" id="organization_url" value="{{organization.url}}">
	<div class="panel panel-body">
	{% ifequal tier "small" %}
			{% include "admin/wizard.html" %}
		{% else%}
			{% include "admin/getting_started_embed_wizard.html" %}
		{%endifequal%}
		{% include "admin/setup_complete_modal.html" %}
	</div>
	<!-- <a href="#" class="btn btn-xs btn-danger pull-right">Skip the setup process...</a> -->
</div>
{% endblock %}
