{% extends "admin/wizard.html" %}

{% block step %}

<form id="designForm" method="post" class="form-horizontal">
	<div class="text-center">
		<h3><i class="fa fa-wrench"></i>
			Change Your Page Design
		</h3>
		<h5 class="help-block">Customize your page title, logo, and add a background color that matches your organization's color scheme. You can always change these later.</h5>
		<br>
	</div>
	<div class="form-group">
		<label class="control-label" for="title">Title of Matching Gift Pages</label>
		<div class="controls">
			<input id="title" type="text" name="title" value="{{organization.title}}" class="form-control required">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="org-color">Background Color</label>
		<div class="controls">
			<input type="text" data-color-format="hex" class="form-control" id="org-color" name="color" value="{{organization.color}}">
		</div>
		<span class="help-block">We recommend choosing a non-white color that matches your organization's current branding.</span>

	</div>

	<div class="form-group">
		<label class="control-label">Logo</label>
		<div class="col-sm-6 thumbnail">
			<input id="logo" type="hidden" name="logo" value="{{organization.logo}}">
			<img id="org-logo" src=
							{% if organization.logo|empty? %}
			"/api/img/suggested-logo-size.png"
			{%else%}
			"https://s3.amazonaws.com/doubledonation/logos/{{organization.logo}}"
			{%endif%}>
		</div>
		<div class="clearfix"></div>
		<span class="help-block">Don't worry about your logo's dimensions. We'll automatically resize it to ensure it fits.</span>
		<button style="margin-right:50%;" type="button" id="pick-photo" class="btn btn-primary btn-md">Upload New Image</button>

	</div>

	{% include "admin/pager.html" %}

</form>
{% endblock %}
