{% extends "admin/wizard.html" %}

{% block step %}

<form id="descriptionForm" method="post" class="form-horizontal">
    <div class="text-center">
        <h3><i class="fa fa-pencil"></i>
            Change Your Page Description
        </h3>
        <h5 class="help-block">This appears on your matching gift page. We've added some text to get you started.</h5>
        <br>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <textarea id="description" name="description" class="tinymce">{{organization.description}}</textarea>
        </div>
    </div>
    {% include "admin/pager.html" %}
</form>

{% endblock %}
