{% extends "admin/wizard.html" %}

{% block step %}
<form id="setupForm" method="post" class="form-horizontal">
	<div>
		<h3 class="text-center"><i class="fa fa-globe"></i>
			Choose Your URL
		</h3>

		<p class="help-block">Enter the URL you'd like on our servers between 3 and 20 characters. Do not include spaces, periods, slashes, or any other punctuation.</p>
		<p class="help-block">NOTE: Do NOT enter your organization's URL. This is where we will create your hosted page on our servers. For example, entering <strong>zooatlanta</strong> will create an organization page at <strong>https://doublethedonation.com/zooatlanta</strong></p>

		<br>
	</div>
	<div class="col-lg-9 col-lg-offset-3">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">https://doublethedonation.com/</span>
				<input style="width:65%" type="text" name="url" id="namefield" name="url" class="form-control required url-input" value="{{organization.url}}" placeholder="yourorganization" autofocus="autofocus">
			</div>
			{% if errors.url %}
			<div class="alert alert-danger">{{errors.url|join}}</div>
			{% endif %}
		</div>
	</div>

	{% include "admin/pager.html" %}
</form>
{% endblock %}
