{% extends "admin/wizard.html" %}

{% block step %}

<form id="locationForm" method="post" class="form-horizontal">

	<div class="text-center">
		<h3><i class="fa fa-map-marker"></i>
			Provide Your Organization's Mailing Address
		</h3>
		<h5 class="help-block">Where is your organization located? Donors will often need this to submit their requests.</h5>
		<br>
	</div>
	<!-- address-line1 input-->
	<div class="form-group">
		<label class="control-label">Address Line 1</label>
		<div class="controls">
			<input name="public_address1" type="text" value="{{organization.public_address1}}" class="form-control required">
			{% if errors.public_address1 %}
			<div class="alert alert-danger">{{errors.public_address1|join}}</div>
			{% endif %}
		</div>
	</div>
	<!-- address-line2 input-->
	<div class="form-group">
		<label class="control-label">Address Line 2</label>
		<div class="controls">
			<input name="public_address2" type="text" value="{{organization.public_address2}}" class="form-control">
		</div>
	</div>
	<!-- city input-->
	<div class="form-group">
		<label class="control-label">City</label>
		<div class="controls">
			<input name="public_city" type="text" value="{{organization.public_city}}" class="form-control required">
			{% if errors.public_city %}
			<div class="alert alert-danger">{{errors.public_city|join}}</div>
			{% endif %}
		</div>
	</div>
	<!-- region input-->
	<div class="form-group">
		<label class="control-label">State/Province</label>
		<div class="controls">
			<input name="public_state" type="text" value="{{organization.public_state}}" class="form-control required">
			{% if errors.public_state %}
			<div class="alert alert-danger">{{errors.public_state|join}}</div>
			{% endif %}
		</div>
	</div>
	<!-- postal-code input-->
	<div class="form-group">
		<label class="control-label">Zip/Postal Code</label>
		<div class="controls">
			<input name="public_zip" type="text" value="{{organization.public_zip}}" class="form-control required">
			{% if errors.public_zip %}
			<div class="alert alert-danger">{{errors.public_zip|join}}</div>
			{% endif %}
		</div>
	</div>

	{% include "admin/pager.html" %}
</form>

{% endblock %}
