{% extends "admin/index.html" %}
{% block main-container %}


<h1 class="page-header">Home</h1>
<p>Welcome to your Double the Donation account management portal. From here you can modify your matching gift tool settings and access resources to help you raise more money from matching gifts and volunteer grants.
</p>

<hr>

<div class="row">

    <div class="col-md-12">
        <!-- /.col-lg-4 -->
        <div class="col-md-5">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw fa-lg"></i>&nbsp; Promote Matching Gifts
                </div>
                <div class="panel-body">
                    <p>Promote matching gifts and volunteer grants across your fundraising and communications. View top ideas and examples from other organizations.</p>
                </div>
                <div class="panel-footer">
                    <a href="/members/share"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp; Start Promoting Matching Gifts</a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-cloud-download fa-fw"></i>&nbsp; Download Resources
                </div>
                <div class="panel-body">
                    <p>Looking for matching gift resources or guides? Below are our top matching gift resources which you’re encouraged to download, use, and share with your team.
                    </p>
                </div>
                <div class="panel-footer">
                    <a href="/members/resources"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp; View Resources</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.row -->
<div class="row">

    <div class="col-md-12">
        <!--<div class="col-md-5">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw fa-lg"></i>&nbsp; Your Hosted Page URL
                </div>
                <div class="panel-body">
                    <p>Even your most dedicated donors don’t always submit their matching gift requests. We've put together a quick-start guide
                        to help you increase fundraising today.
                    </p>
                </div>
                <div class="panel-footer">
                    <a class="btn" href="/members/share"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp; Start Promoting Now</a>
                </div>
            </div>
        </div>-->

    </div>
</div>
<!-- /.row -->
{% endblock %}
