<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Fullstory -->

  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'www.fullstory.com';
    window['_fs_org'] = 'G88K';
    (function(m,n,e,t,l,o,g,y){
      g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
      o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
      y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
      g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};
      g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)};
      g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
              ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}
    })(window,document,'FS','script','user');

    FS.identify('{{organization.id}}', {
      displayName: '{{organization.contact_name}}',
      email: '{{organization.contact_email}}'
    });
  </script>

  <!-- Intercom -->

  <script>
    window.intercomSettings = {
      app_id: "jsy5e5p1",
      user_id: "{{organization.id}}",
      name: "{{organization.contact_name}}", // Full name
      email: "{{organization.contact_email}}", // Email address
      created_at: 1312182000 // Signup date as a Unix timestamp
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jsy5e5p1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Bootstrap Core CSS -->
  <link href="/api/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/api/css/sb-admin-2.css" rel="stylesheet">
  <link href="/api/css/admin-dashboard.css" rel="stylesheet" type="text/css">
  <link href="/api/css/custom-css.css" rel="stylesheet" type="text/css">


  <!-- Custom Fonts -->
  <link href="/api/css/fa.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/api/css/pick-a-color-1.2.3.min.css">
  <link rel="stylesheet" href="/api/css/bootstrap-navtabs.css">
  <link rel="stylesheet" href="/api/css/dropdown-enhancement.css">
  <link rel="stylesheet" href="/api/css/shepherd-theme-arrows.css" />
  <link rel="stylesheet" href="/api/css/jquery.minicolors.css" />
  <link rel="stylesheet" href="/api/css/getting-started.css">
  <link rel="stylesheet" href="/api/css/members-settings.css">



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<!--{% debug %}-->
<input type="hidden" id="organization_id" value="{{organization.id}}">
<input type="hidden" id="organization_url" value="{{organization.url}}">

{% block body %}

<div id="wrapper">

  {% include "admin/admin-navbar.html" %}
  {% block page %}
  <!-- Page Content -->
  <div id="page-wrapper" {% if not organization.setup_complete %} class="gettingstarted" {% endif %}>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          {% block main-container %}
          {% endblock %}
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
  </div>
  {% endblock %}

  {%endblock%}
  <!-- /#page-wrapper -->

  <!-- jQuery -->
  <script src="/api/js/jquery-1.11.2.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/api/js/bootstrap.min.js"></script>

  <script src="/api/js/tinymce/tinymce.min.js"></script>

  <script type="text/javascript" src="https://api.filepicker.io/v2/filepicker.js"></script>

  <script src="/api/js/jquery.minicolors.js"></script>
  <script src="/api/js/getting-started.js"></script>
  <!--<script src="/api/js/members-settings.js"></script>-->

</div>

</body>

</html>
