<fieldset>
    <div>
        <div class="col-sm-12">
            <form id="pluginSettingsForm" method="post" action="/members/advanced-settings" class="form-horizontal">
                <div class="form-group">

                    <label class="control-label" for="plugin-header">Plugin Header</label>
                    <div class="help-block">Text shown on the plugin. Shorten it if you have a narrow page layout.</div>
                    <div class="controls">
                        <input type="text" id="plugin-header" name="plugin_text" value="{{organization.plugin_text}}" class="input-xlarge form-control">
                    </div>
                </div>

<!--

                <div class="form-group">
                    <label class="control-label" for="color">Plugin Background Color</label>

                    <div class="col-sm-6">
                        <input type="text" id="plugin-bg-color" name="color" class="pick-a-color form-control" value="{{custom_css.plugin.background_color}}">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="color">Plugin Font Color</label>

                    <div class="col-sm-6">
                        <input type="text" id="plugin-font-color" name="color" class="pick-a-color form-control" value="{{custom_css.plugin.color}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="color">Plugin Font Family</label>
                    <div id="plugin-font" class="fontSelect">
                        <div class="arrow-down"></div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="color">Plugin Font Size</label>
                    <div class="controls" style="width:18%">
                        <select id="plugin-header-size" name="plugin-header-size" class="form-control">
                            <option {%ifequal custom_css.plugin.header.font-size "20px" %} selected {%endifequal%} value="20px"> 20px</option>
                            <option {%ifequal custom_css.plugin.header.font-size "24px" %} selected {%endifequal%} value="24px"> 24px</option>
                            <option {%ifequal custom_css.plugin.header.font-size "28px" %} selected {%endifequal%} value="28px"> 28px</option>
                        </select>
                    </div>
                </div>


-->

                <div class="form-group">

                    <label class="control-label" for="show_vg">Show/Hide Volunteer Grants</label>
                    <div class="help-block">You may choose to hide volunteer grants if you're not interested in them.</div>
                    <div class="controls">
                        <select id="show_vg" name="show_vg" class="input-xlarge form-control">
                            <option value="show" {%ifequal organization.show_vg "show" %} selected {%endifequal%}>Show volunteer grants</option>
                            <option value="hide" {%ifequal organization.show_vg "hide" %} selected {%endifequal%}>Hide volunteer grants</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" id="update-plugin" class="btn btn-success btn-update">Update Plugin Settings</button>
                </div>
            </form>
        </div>
    </div>
</fieldset>
