<div class="modal fade"  id="setupCompleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-smile-o"></i> Setup Complete</h4>
      </div>
      <div class="modal-body">
        <p>You've successfully completed the setup process&hellip;</p>
        <p>Now you can access your homepage, learn to promote matching gifts, and
          access customized resources.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green setup-complete">Go To My Homepage!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->