<div class="modal fade"  id="setupOptionalModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header alert alert-warning">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><i class="fa fa-gear"></i> Set Up Optional Hosted Page</h4>
			</div>
			<div class="modal-body">
				<p>For the best donor experience we recommend you embed our plugin directly on your own website. Organizations typically add our plugin to one or multiple spots such as on a dedicated matching gift page, ways-to-give page, and in the donation process.</p>
				<p>Creating a hosted matching gift page on our servers is optional.</p>
				<p>Are you sure you still want to create a hosted page on https://doublethedonation.com?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" id="btn-setup-optional" class="btn btn-warning">Create Hosted Page</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
